.order_summary_header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 50px;
    margin-right: 150px;
}

.order_summary_header img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.order_summary_header > img {
    border-radius: 50%;
    margin-left: 150px;
    justify-content: center;
}

.order_summary_header > h1 {
    text-align: center;
    font-family: 'Roboto';
    color: #242731;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-size: 30px;
    height: 40px;
    left: 44.27%;
    right: 41.9%;
    top: calc(50% - 40px/2 - 334.5px);
}

