.order-summary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

hr {
    width: 600px;
    left: 500px;
    top: 363px;
    border: 0.3px solid #D9D9D9;
}

.summary-left {
    float: left;
    width: 50%;
    text-align: left;
    margin-left: 350px;
}

.summary-right {
    float: right;
    width: 40%;
    text-align: right;
    padding-right: 120px;
}


.summary-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-right: 300px;
}


.summary-left > p {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #989898;
    right: 0;
    padding: 10px;
}


.summary-right > p {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #666666;
    left: 0;
    width: 400px;
    padding: 8px;
}


.summary-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-right: 300px;
}

.summary-bottom-left {
    float: left;
    width: 50%;
    text-align: left;
    margin-left: 260px;
}

.summary-bottom-left > p {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #989898;
    right: 0;
    padding: 10px;;
}

.summary-bottom-right {
    float: right;
    width: 40%;
    text-align: right;
    margin-left: 150px;
}

.summary-bottom-right > p {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #666666;
    left: 0;
    width: 400px;
    padding: 8px;
}

.btn-2 {
    text-align: center;
}

.btn-2 > button {
    width: 410px;
    height: 64px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 20px;
    background: #45079A;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
} 