    .container {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 10px;
        margin: 0 auto;
        margin-top: 80px;
    }
    
    .box {
        flex: 1;
        text-align: center;
        padding: 20px;
    }
    
    .left {
        display: flex;
        align-items: center;
        background-color: #FB761C;
        color: #ffffff;
    }
    
    .right {
        display: flex;
        align-items: center;
        background-color: #D9D9D9;
        color: #242731; 
    }
