.footer-section {
    background: #F9FAFC;
}

.footer-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-group img {
    max-width: 100%;
}

.footer-link {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.footer-link a {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #666666;
    cursor: pointer;
    margin-top: 30px;
}

.trademark {
    margin-left: auto;
    text-align: right;
}

.trademark p {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    margin-top: -30px;
}

@media screen and (max-width: 768px) {
    .footer-group {
        flex-direction: column;
        text-align: center;
}

    .footer-link {
        margin-top: 30px;
    }

    .trademark {
        margin: 30px 0 0 auto;
    }
}
