.navbar {
    background: #F9FAFC;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    margin-left: 50px;
    margin-top: 20px;
    align-items: center;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-right: 30px;
}

.link-container > a {
    margin-right: 30px;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    font-family: 'Roboto';
    color: #2B2222;
    cursor: pointer;
}