.form-container {
    /* margin-right: 100%; */
    margin-left: 33%;
    width: 150px;
}

.form-group > input, select {
    display: block;
    color: #666666;
    width: 412px;
    height: 60px;
    border: 1.4px solid #989898;
    border-radius: 5px;
    background: #FFFFFF;
}

.form-group > label {
    display: block;
    color: #666666;
    width: 412px;
    /* height: 40px; */
}


input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1.4px solid #989898;
    border-radius: 8px;
}

select {
    width: 680px;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1.4px solid #989898;
    border-radius: 8px;
}

.btn {
    width: 480px;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    background: #45079A;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
}