.form-container {
    /* margin-right: 100%; */
    margin-left: 33%;
    width: 150px;
}

.form-group > input, label, select {
    display: block;
    color: #666666;
}

input[type="text"] {
    width: 480px;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 6px;
    border: 2px solid silver;
}

select {
    width: 480px;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 6px;
    border: 2px solid silver;
}

.btn {
    width: 480px;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    background: #45079A;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
}