.form-container {
    margin-left: 33%;
    width: 150px;
}


.form-group > input, Select {
    display: block;
    color: #666666;
    width: 412px;
    height: 60px;
    border: 1.4px solid #989898;
    border-radius: 5px;
    background: #FFFFFF;
}

.form-group > label {
    display: block;
    color: #666666;
    width: 412px;
    padding-bottom: 10px;
}

/* .dropdown-bouquet {
    margin: 0;
    padding: 0;

} */


input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1.4px solid #989898;
    border-radius: 8px;
}

input[type="search"] {
    padding: 12px 20px;
    margin: 8px 0;
    color: #8692A6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    left: 13.11%;
    right: 58.74%;
    top: 33.33%;
    bottom: 35.19%;
}

Select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1.4px solid #45079A;
    border-radius: 5px;
    background: #ffffff;
}



.btn {
    width: 480px;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    background: #45079A;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
}

/* .form-group > Select .option-section {
    background: #ffffff;
    color: #5C2684;
} */