.contact-form-container{
    height: 900px;
    width: 100%;
    background: var(--white-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contact-form-container form input,button,select,textarea{
    width: 100%;
    max-width: 412px;
    border-radius: 8px;
    border: 2px solid #989898;

}

.contact-form-container form input, select{
    padding-left: 20px;
}

.contact-form-container form input,button,select{
    height: 64px;
}

.contact-form-container form label{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}


.contact-form-container form button{
    border: none;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--white-color);
    cursor: pointer;
    margin-top: 30px;
}




.contact-form-warning{
    border-radius: 8px;
    width: 100%;
    gap: 10px;
    max-width: 417px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    background: var(--light-blue);
    padding-left: 20px;
}

.contact-form-warning p{
    font-size: 13px;
    line-height: 18px;
    max-width: 344px;
}

@media screen and (max-width:803px) {
    .contact-form-container{
        height: 700px;
        
    }
}

@media screen and (max-width:697px) {
    .contact-form-container{
        height: 650px;
        
    }

}