.home-nav{
    /* position: fixed; */
    padding-top: 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-nav-links{
    display: flex;
    gap: 80px;
}

li{
    list-style: none;
}