.transaction-history-container{
    width: 100%;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.transaction-history-container h2{
    font-size: 32px;
    font-weight: 700;
    color: #242731;
    margin-bottom: 10px;
}

.transaction-table-body{
    display: flex;
    justify-content: center;
    align-items: center;

}


.transaction-filter-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 0px;
}

.history-daterange{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.transaction-filter-options input{
    height: 56px;
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 8px;
    padding: 0px 20px;

}

.transaction-searchbox{
    width: 100%;
}

.transaction-searchdate{
    width: 200px;
}

.history-filter{
    height: 56px;
    width: 100px;
    background: var(--primary-color);
    border-radius: 6px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    gap: 10px;
}

.history-searchbar{
    position: relative;
    width: 512px;
}

.transaction-search-icon{
    position: absolute;
    top: 15px;
    left: 470px;
}