@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nunito+Sans&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #45079A;
  --light-blue: #D6F2FE;
  --white-color: #FFFFFF;
  --light-text-color:#666666;
  --dark-text-color: #666666;
  --bg-light-blue: #F9FAFC;
  --bg-grey: #F5F5F5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  scroll-behavior: smooth;
}

.home-container{
  padding-left: 80px;
  padding-right: 80px;
}